<div style="text-align:center">
  <h1>
    Welcome to Url Squeezer!
  </h1>
  <br/>
  <br/>
</div>
<!-- 
<div class="md-form">
  <input mdbInput type="text" id="form1" class="form-control">
  <label for="form1" class="">Example label</label>
</div> -->

<div class="md-form">
  <div>
    <input mdbInput [(ngModel)]="longUrl" placeholder="Paste or type a link to Squeez it!" class=" form-control form-control-lg"
      type="text" >
  </div>

  <div class="col-auto">
    <button (click)="onCreateShortURL();" type="submit" class="btn btn-primary mb-2">
      Squeeze it!
    </button>
  </div>
  <div style="text-align:center">
    <h1>
      <label for="form1"><span class="badge badge-success form-control-lg">{{shortURL}}</span></label>
    </h1>
    
  </div>
  
</div>

<router-outlet></router-outlet>